* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f5f5f5;
  --primary-color: #0b8630;
  --primary-color-hover: #13943a;
  --primary-color-light: #0b86301e;
  --border-color: #acacac;
  --border-color-light: #dadada;
  --text-color: #333333;
  --text-color-light: #727272;
  --white: #fff;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.content-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.border {
  border: 0.2vh solid #000;
}

.border-light {
  border: 0.1vh solid var(--border-color-light);
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.shadow-1 {
  box-shadow: 0 0 0.7vh 0 rgba(0, 0, 0, 0.1);
}

.card {
  position: relative;
  background: #fff;
  border-radius: 0.7vh;
  border: 0.1vh solid var(--border-color-light);
  transition: box-shadow 0.14s ease;
  user-select: none;
  color: var(--text-color);
}

/* + MODAL STYLE */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.7vh;
  z-index: 1000;
  border: 0.25vh solid #00000015;
}

.btn-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10vh;
  transition: all 0.3s;
  user-select: none;
}
/* - MODAL STYLE */

.btn-close-modal:hover {
  background: #f5f5f5;
}

.btn-general {
  cursor: pointer;
  user-select: none;
}

.btn-general.btn-sm {
  font-size: 1.4vh;
  border-width: 0.1vh;
  border-radius: 0.4vh;
}

.btn-general.btn-green {
  color: #fff;
  border: 0.1vh solid #06722a;
  background: #11943d;
  transition: all 0.2s ease;
}

.btn-general.btn-green:hover {
  background: #1aac4b;
}

.btn-general.btn-green:disabled {
  border: 0.1vh solid #06722a31;
  background: #11943d63;
  cursor: not-allowed;
}

.btn-general.btn-red {
  color: #fff;
  border: 0.1vh solid #990c0c;
  background: #dd3131;
  transition: all 0.2s ease;
}

.btn-general.btn-red:hover {
  background: #e44545;
}

.btn-general.btn-red:disabled {
  border: 0.1vh solid #72060631;
  background: #da383863;
  cursor: not-allowed;
}

.btn-general.btn-blue {
  color: #fff;
  border: 0.1vh solid #09437a;
  background: #2a7fcf;
  transition: all 0.2s ease;
}

.btn-general.btn-blue:hover {
  background: #4494df;
}

.btn-general.btn-gray {
  color: #fff;
  border: 0.1vh solid #5a5a5a;
  background: #797979;
  transition: all 0.2s ease;
}

.btn-general.btn-gray:hover {
  background: #858585;
}

.select-general {
  position: relative;
  width: 100%;
  height: 100%;
  appearance: none;
  border: 0.1vh solid var(--border-color);
  border-radius: 0.4vh;
}

.select-general > select {
  appearance: none;
  border: none;
  border-radius: 0.4vh;
  color: var(--text-color);
}

.input-general {
  position: relative;
  width: 100%;
  height: 100%;
  appearance: none;
  border: 0.1vh solid var(--border-color);
  border-radius: 0.4vh;
}

.input-general > input {
  appearance: none;
  border: none;
  border-radius: 0.4vh;
  color: var(--text-color);
}

.input-general:disabled {
  background: var(--border-color-light);
}
